<app-navbar></app-navbar>

<body>
  <div class="container">
    <div class="row ">
      <div class="card col-6 offset-3 " style="margin: auto; margin-top: 20px;margin-bottom: 80px; padding-right: 0px;padding-left: 0px;">
        <div class="card-header border-danger bg-transparent">
          <h4 class="h4 mb-4 mt-4 text-center " style="font-weight: normal;">Fill out this form to <span style="color:red;">Start</span> your <span style="color:red;">Experience</span> !</h4>
        </div>
        <div class="card-body">
          <form style="background-color: white" (ngSubmit)="signup()">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="First name" [(ngModel)]="firstName">

              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="lastName">
              </div>
            </div>
            <br>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" [(ngModel)]="email">
           <br>
            <input type="text" class="form-control" id="inputAddress" placeholder="Address" [(ngModel)]="address">
            <br>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputCity" placeholder="City" [(ngModel)]="city">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputZip" placeholder="Zip code" [(ngModel)]="zipCode">
              </div>
            </div>
            <br>
            <input type="number" class="form-control" placeholder="Phone number" [(ngModel)]="phoneNumber">
            <br>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="number" class="form-control" id="height" placeholder="Height" [(ngModel)]="height">
              </div>
              <div class="form-group col-md-6">
                <input type="number" class="form-control" id="weight" placeholder="Weight" [(ngModel)]="weight">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-3">
                <label>Blood type : </label>
              </div>
              <div class="col-3">
                <select class="browser-default custom-select">
              <option value="1">AB+</option>
              <option value="2">AB-</option>
              <option value="3">A+</option>
              <option value="5">A-</option>
              <option value="6">B+</option>
              <option value="7">B-</option>
              <option value="8">O+</option>
              <option value="9">O-</option>
            </select>
              </div>
            </div>
            <br>
            <!-- Default inline 1-->
            <div class="row">
              <div class="col-3">
                <label>Gender: </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-3">
                <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
                <label class="custom-control-label" for="defaultInline1">Male</label>
              </div>

              <!-- Default inline 2-->
              <div class="custom-control custom-radio custom-control-inline col-3">
                <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
                <label class="custom-control-label" for="defaultInline2">Female</label>
              </div>
            </div>
            <br>
            <textarea class="form-control" placeholder="Indiquate if you have other sickness"></textarea>
            <br>
            <div class="row">
              <div class="col-3"></div>
              <div class="col-9">
                <button type="submit" class="btn btn-success col-6 btn-md">Start your research
        </button>
              </div>

              <div class="col-3"></div>


            </div>


            <!-- Extended default form grid -->
          </form>
        </div>
      </div>
    </div>


  </div>

</body>
<app-footer></app-footer>