<app-navbar></app-navbar>

<body>
  <div class="container">
    <div class="row ">
      <div class="card col-6 offset-3 " style="margin: auto; margin-top: 20px;margin-bottom: 80px; padding-right: 0px;padding-left: 0px;">
        <div class="card-header border-danger bg-transparent">
          <h4 class="h4 mb-4 mt-4 text-center " style="font-weight: normal;"><i class="fas fa-sign-in-alt text-danger "></i>&nbsp;Welcome <span style="color:red;">Back</span> !</h4>
        </div>
        <div class="card-body">
          <form style="background-color: white" (ngSubmit)="signup()">

            <!--<br>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email" [(ngModel)]="email">
        <br>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Password" [(ngModel)]="password">
        <br>-->
            <!--Default inline 1-->

            <!-- Material input -->
            <div class="md-form">
              <i class="fas fa-envelope prefix"></i>
              <input type="text" id="inputIconEx1" class="form-control">
              <label for="inputIconEx1">E-mail address</label>
            </div>
            <!-- Material input -->
            <div class="md-form">
              <i class="fas fa-lock prefix"></i>
              <input type="password" id="inputValidationEx2" class="form-control validate">
              <label for="inputValidationEx2" data-error="wrong" data-success="right">Type your password</label>
            </div>
            <br>
            <div class="row">
              <div class="col-3"></div>
              <div class="col-9">
                <button type="submit" class="btn btn-success col-7 btn-md">Login
              </button>
              </div>

              <div class="col-1"></div>
            </div>
            <div class="text-center">
             Not a member yet ?
              <a href="sign-up">Join us</a>
        
            </div>

            <!-- Extended default form grid -->
          </form>
        </div>
      </div>
    </div>


  </div>

</body>
<app-footer></app-footer>