<app-navbar></app-navbar>

<body>
  <div class="container ">
    <!-- Editable table -->
    <br>
    <hr>
    <h1 class="text-center"> <i class="fas fa-hand-holding-heart text-danger"></i> My donations </h1>
    <hr>
    <br>
    <!-- Grid column -->

    <div class="row">

      <div class="col-lg-4 col-md-6 mb-5 mt-5">
        <!--Panel-->
        <div class="card text-center">
          <div class=" card-header light-color white-text">
            <i class="fas fa-heart text-danger"></i>
          </div>
          <div class="card-body">
            <span class="card-text"> Blood group</span>
            <h3 class="card-title text-danger">
              <span class="badge badge-success badge-pill">AB-</span>
            </h3>

            <!--<p class="card-text">Blood group</p>-->
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Mohamed Aziz Bibi
                <!--<span class="badge badge-primary badge-pill">14</span>-->
                <i class="far fa-address-card text-danger"></i>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                11, Rue Crémieux, Menzah 1
                <!--<span class="badge badge-primary badge-pill">2</span>-->
                <i class="fas fa-map-marker-alt text-danger"></i>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Male
                <!--<i class="far fa-address-book text-danger"></i>-->
                <i class="fas fa-transgender text-danger"></i>

              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                +216 23 321 757
                <!--<span class="badge badge-primary badge-pill">2</span>-->
                <i class="fas fa-mobile-alt text-danger"></i>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                bibi.mohamedaziz@gmail.com
                <!--<span class="badge badge-primary badge-pill">1</span>-->
                <i class="far fa-envelope text-danger"></i>
              </li>


            </ul>
            <br>
          </div>
          <div class="card-footer text-muted success-color white-text">
            <p class="mb-0">2 days ago</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4  mb-5 mt-5">

        <!--Panel-->
        <div class="card text-center">
          <div class=" card-header light-color white-text">
            <i class="fas fa-heart text-danger"></i>
          </div>
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-success btn-sm">Go somewhere</a>
          </div>
          <div class="card-footer text-muted success-color white-text">
            <p class="mb-0">30 days ago</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4  mb-5 mt-5">
        <!--Panel-->
        <div class="card text-center">
          <div class=" card-header light-color white-text">
            <i class="fas fa-heart text-danger"></i>
          </div>
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-success btn-sm">Go somewhere</a>
          </div>
          <div class="card-footer text-muted success-color white-text">
            <p class="mb-0">64 days ago</p>
          </div>
        </div>
      </div>


      <!--/.Panel-->

    </div>
    <!-- Grid column -->



  </div>
  <br>
  <br>
</body>



<app-footer></app-footer>