<header class="h-100">
  <app-navbar></app-navbar>
  <!--Main -->
  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-center white-text wow fadeInUp">
          <div class="row" style="margin-top: 50px">

            <!-- *********************mini formulaire dans la page d'accueil *************************************-->

            <div class="col-4 offset-1">
              <!-- Material form login -->
              <div class="card">

                <h5 class="card-header white-text text-center py-4" style="background-color: indianred">
                  <strong>Sign in</strong>
                </h5>

                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">

                  <!-- Form -->
                  <form class="text-center" style="color: #757575;" (ngSubmit)="login()">

                    <!-- Email -->
                    <div class="md-form">
                      <input type="email" id="materialLoginFormEmail" class="form-control" [(ngModel)]="email">
                      <label for="materialLoginFormEmail">E-mail</label>
                    </div>

                    <!-- Password -->
                    <div class="md-form">
                      <input type="password" id="materialLoginFormPassword" class="form-control" [(ngModel)]="pasword">
                      <label for="materialLoginFormPassword">Password</label>
                    </div>

                    <div class="d-flex justify-content-around">
                      
                     
                    </div>

                    <!-- Sign in button -->
                    <button class="btn btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit"
                            style="background-color: indianred">Sign in
                    </button>

                    <!-- Register -->
                    <p>Not a member?
                      <a href="" style="color: indianred">Register</a>
                    </p>

                    
                  </form>
                  <!-- Form -->

                </div>

              </div>
              <!-- Material form login -->
            </div>

            <!--*************************************** Titre du site web ****************************************-->

            <div class="col-6 offset-1" style="margin-top: auto; margin-bottom: auto">
              <h1><span class="text-danger">Blood</span> donation</h1>
              <hr>
              <h5>24x7 availability of blood so that no one should die waiting for Blood , Blood should wait to give a life.</h5>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main style="padding-bottom: 100px;">
  <div class="container" style="height:1300px;">

    <div class=" full-page-intro">

      <!--Section: Features v.3-->
      <section class="section feature-box pt-5">

        <!--Section heading-->
        <h1 class="section-heading pt-4">Why is it so important?</h1>
        
        <!--Section description-->
        <p class="section-description lead grey-text">Blood is the most precious gift that anyone can give to another person,the gift of life.
          A decision to donate your blood can save a life, or even several if your blood is separated into its components: red cells, platelets and plasma,
          which can be used individually for patients with specific conditions.</p>

        <!--Grid row-->
        <div class="row features-small pt-5">

          <!--Grid column-->
          <div class="col-lg-5 mb-r center-on-small-only">
            <img src="../assets/images/donation.png" alt="" class="img-fluid z-depth-0 animated bounce"></div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-7">

            <!--Grid row-->
            <div class="row pb-3">
              <div class="col-2 col-md-1">
                <i class="fas fa-hand-holding-heart text-danger"></i>
              </div>
              <div class="col-10">
                <h5>1 donation can save potentially up to 3 lives</h5>
              </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
              <div class="col-2 col-md-1">
              <i class="fas fa-hands-helping text-danger"></i>   
                         </div>
              <div class="col-10">
                <h5>Blood and platelets cannot be manufactured, they can only come from volunteer
                  donors</h5>
              </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
              <div class="col-2 col-md-1">
                <i class="fas fa-tint text-danger"></i>
              </div>
              <div class="col-10">
                <h5>The blood type most often requested by hospitals is type O</h5>
              </div>
            </div>
            <!--Grid row-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
<hr style="border: 0; border-top: 1px solid darkred; height: 5px;">
      </section>
      <!--Section: Features v.3-->
      <!-- Section: Team v.1 -->
      <section class="team-section text-center my-5 mb-5" id="id1">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">How many lives did we save so far?</h2>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5">View real-life testimonials from blood donors and blood recipients. Inspire others and Share Your Story with us</p>

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1"
                   alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Maya Ben Hassine</h5>
            <p class="text-uppercase blue-text">
              <strong>Marketing Manager at BNA</strong>
            </p>
            <p class="grey-text"> I woke up 3 days after surgery to fully understand what had happened and how much blood and platelets were needed to save my life. I am forever grateful to the doctors, nurses, and blood donors who came together to save my life.</p>
          
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
                   alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Mustafa Yahyaoui</h5>
            <p class="text-uppercase blue-text">
              <strong>Software Engineer</strong>
            </p>
            <p class="grey-text">I'm a double red cell donor. I began donating when I lived in New York and kept up the habit when I moved to Florida. My father always donated and inspired me to donate. </p>
            
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
                   alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Mariem Ben Khalifa</h5>
            <p class="text-uppercase blue-text">
              <strong>TV Presenter</strong>
            </p>
            <p class="grey-text">I received medication and after 3AM, they admitted me into the hospital. During my three day stay I received 4 blood transfusions.I am alive because of the people that donated their blood.
               I am thankful for donors because they helped save my life and many others..</p>
          
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-3 col-md-6">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
                   alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Amine Ben Slimene</h5>
            <p class="text-uppercase blue-text">
              <strong>Student</strong>
            </p>
            <p class="grey-text">
              Amine has undergone more than 25 operations in the years since his wreck. Most of them required additional blood transfusions. 
              But thanks to the quick actions of his co-workers, 
              and generous local blood donors, he has been able to recover and get back to saving other people’s lives.
            </p>
           
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: Team v.1 -->
    </div>

  </div>
</main>


<app-footer></app-footer>