<app-navbar></app-navbar>

<body>
  <div class="container ">
    <!-- Editable table -->
    <br>
    <br>
    <div class="card ">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">My requests</h3>

      <div class="card-body">
        <div id="table" class="table-editable">
          <span class="table-add float-right mb-3 mr-2"><a href="find-donor" class="text-success"><i class="fas fa-plus fa-2x"
            aria-hidden="true"></i></a></span>
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Age</th>
              <th class="text-center">Gender</th>
              <th class="text-center">Address</th>
              <th class="text-center">Email</th>
              <th class="text-center">Phone number</th>
              <th class="text-center">Blood group</th>
              <th class="text-center">Remove</th>
            </tr>
            <tr>
              <td class="pt-3-half" contenteditable="true">Mohsen Ben Ali</td>
              <td class="pt-3-half" contenteditable="true">25</td>
              <td class="pt-3-half" contenteditable="true">Male</td>
              <td class="pt-3-half" contenteditable="true">Address 1</td>
              <td class="pt-3-half" contenteditable="true">benalihsouna@gmail.tn</td>
              <td class="pt-3-half" contenteditable="true">23321757</td>
              <td class="pt-3-half" contenteditable="true">
                <h3><span class="badge badge-success badge-pill">AB-</span></h3>
              </td>

              <td>
                <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
              </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr>
              <td class="pt-3-half" contenteditable="true">Mohsen Ben Ali</td>
              <td class="pt-3-half" contenteditable="true">25</td>
              <td class="pt-3-half" contenteditable="true">Male</td>
              <td class="pt-3-half" contenteditable="true">Address 1</td>
              <td class="pt-3-half" contenteditable="true">benalihsouna@gmail.tn</td>
              <td class="pt-3-half" contenteditable="true">23321757</td>
              <td class="pt-3-half" contenteditable="true">
                <h3><span class="badge badge-success badge-pill">AB+</span></h3>
              </td>

              <td>
                <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
              </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr>
              <td class="pt-3-half" contenteditable="true">Mohsen Ben Ali</td>
              <td class="pt-3-half" contenteditable="true">25</td>
              <td class="pt-3-half" contenteditable="true">Male</td>
              <td class="pt-3-half" contenteditable="true">Address 1</td>
              <td class="pt-3-half" contenteditable="true">benalihsouna@gmail.tn</td>
              <td class="pt-3-half" contenteditable="true">23321757</td>
              <td class="pt-3-half" contenteditable="true">
                <h3><span class="badge badge-success badge-pill">O-</span></h3>
              </td>

              <td>
                <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
              </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr>
              <td class="pt-3-half" contenteditable="true">Mohsen Ben Ali</td>
              <td class="pt-3-half" contenteditable="true">25</td>
              <td class="pt-3-half" contenteditable="true">Male</td>
              <td class="pt-3-half" contenteditable="true">Address 1</td>
              <td class="pt-3-half" contenteditable="true">benalihsouna@gmail.tn</td>
              <td class="pt-3-half" contenteditable="true">23321757</td>
              <td class="pt-3-half" contenteditable="true">
                <h3><span class="badge badge-success badge-pill">A-</span></h3>
              </td>

              <td>
                <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- Editable table -->
  </div>
  <br>
  <br>
</body>
<app-footer></app-footer>